.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#image1 {
    filter:grayscale(60%);
}

#image2 {
    filter: blur(3px);
    transition: .3s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter: sepia(80%) opacity(34%);
}

@keyframes color-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#image4 {
    animation: color-rotate 4s linear;
    animation-iteration-count: infinite;
}

#div1 {
    background-color:rgb(11, 52, 175);
    color: aliceblue;
    width: 200px;
    height: 200px;
    filter: blur(4px);
}

#div2 {
    font-size: 60px;
    filter: drop-shadow(0px 10px 3px darkblue);
}

